<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/public/css/dashboard.css">
         <script type="text/javascript" src="/public/js/lock.js"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/css/bootstrap-material-design.min.css" integrity="sha384-R80DC0KVBO4GSTw+wZ5x2zn2pu4POSErBkf8/fSFhPXHxvHJydT0CSgAP2Yo2r4I" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {packages: ['corechart', 'bar']});
            google.charts.setOnLoadCallback(drawBasic);

            function drawBasic() {

                var totalExpense = document.getElementById("total_expense").value
                var totalIncome = document.getElementById("total_income").value

                console.log("Total expense = "+totalExpense)

                var data = google.visualization.arrayToDataTable([
                    ['Type', 'Amount',{ role: 'style' }],
                    ['INCOME', parseFloat(totalIncome), '#008000'],
                    ['EXPENSE', parseFloat(totalExpense), 'red'],
                ]);

                var options = {
                    chartArea: {width: '50%'},
                    legend: { position: "none" },
                    {{!-- colors: ['#008000'], --}}
                    hAxis: {
                        title: 'Amount',
                        minValue: 0
                    },
                };

                var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

                chart.draw(data, options);
            }
        </script>


        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script> -->
        
        <title>Dashboard</title>
    </head>


    <body>
        {{body}}
         {{!-- <div>
            <a href="/expenses/addExpense">Click Here To Add Expense</a>
            <a>or</a>
            <a href="/income/addIncome">Click Here To Add Income</a>
            <a>or</a>
            <a href="/income/showAllIncome">Click Here To View Income</a>
            <a>or</a>
            <a href="/bankac/addBankAC">Click Here To Add Accounts</a>

           
        </div> --}}
    <div class= "all_buttons" align="center">
      <a href="/expenses/addExpense">  <button id="add_expense" class="btn btn-primary btn-raised" >ADD EXPENSE</button></a> 
      <a href="/income/addIncome"> <button id="add_income" class="btn btn-primary btn-raised" > ADD INCOME</button></a>
      <a href="/transfer/addNewTransfer"> <button id="transfer" class="btn btn-primary btn-raised" > ADD TRANSFER</button></a>
    </div>
                                
 <div class="dashboard">
     <div class ="row">
            <div class="card">
                    <div id="my-title-container1" class="card-header">
                            <h5 class="my-card-header-title">RECENT EXPENSES</h5>
                    </div>
                    {{#if expenses}}
                    <div class="card-body">
                        {{#each expenses}}
                            <a href="/expenses/viewExpense/{{ _id }}" id="expense-item" class="list-group-item"> 
                                <i class="material-icons">{{category.icon_name}}</i>
                                <div class="bmd-list-group-col">
                                    <p id="expense-desc" class="list-group-item-heading">{{desc}}</p>
                                    <p class="list-group-item-text">{{ category.category_name}}  |  {{ bank_account.ac_name }}</p>
                                </div>
                                <span id="amount" class="label label-default label-pill pull-xs-right"><b>${{amount}}</b></span>
                            </a>
                        {{/each}}
                        
                        {{!-- <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div> --}}

                    </div>
                    {{else}}
                    <div class="card-body">
                        <p id="msg"> You haven't added any Expenses..Please start adding now! </p>                        
                    </div>
                    {{/if}}
                    <div>
                        <form action="/expenses/showAllExpenses">
                        <button id="primary-button1"  type="submit" class="btn btn-primary">View All</button>
                        </form>                        
                    </div>

            </div>

        

             <div class="card">
                    <div id="my-title-container2" class="card-header">
                            <h5 class="my-card-header-title">MONTHLY SUMMARY</h5>
                    </div>
                    <div class="card-body">
                        <div id="chart_div"/>
                        </div>    
                        <input id="total_income" value="{{total_income}}" hidden/>
                        <input id="total_expense" value="{{total_expense}}" hidden/>                
                    </div>
                    <div>
                        <form action="/expenses/showAllExpenses">
                        <button id="primary-button2"  type="submit" class="btn btn-primary">View All</button>
                        </form>                        
                    </div>

            </div>

            </div>

        
            <div class ="row">

                <div class="card">
                    <div id="my-title-container3" class="card-header">
                            <h5 class="my-card-header-title">TRANSFERS</h5>
                    </div>

                    {{#if transfers}}
                    <div class="card-body">
                        {{#each transfers}}
                            <a id="transfer-item" class="list-group-item"> 
                                <i class="material-icons">swap_horiz</i>
                                <div class="bmd-list-group-col">
                                    <p class="list-group-item-heading">{{ desc}}</p>
                                    <p class="list-group-item-text">{{sender_bank_account.ac_name}} to {{receiver_bank_account.ac_name}}</p>
                                </div>
                                <span id="amount" class="label label-default label-pill pull-xs-right"><b>${{amount}}</b></span>
                            </a>
                        {{/each}}
                        
                    </div>
                    {{else}}
                    <div class="card-body">
                        <p id="msg"> You haven't added any Expenses..Please start adding now! </p>                        
                    </div>
                    {{/if}}
                        
                    <div>
                        <form action="/expenses/showAllExpenses">
                        <button id="primary-button3"  type="submit" class="btn btn-primary">View All</button>
                        </form>                        
                    </div>

                </div>

            {{!-- <div class="card">
                    <div id="my-title-container3" class="card-header">
                            <h5 class="my-card-header-title">EXPENSE BY CATEGORY</h5>
                    </div>

                    {{#if expensesByCategory}}
                    <div class="card-body">
                        {{#each expensesByCategory}}
                            <a href="/expenses/viewExpense/{{ _id }}" id="expense-item" class="list-group-item"> 
                                <i class="material-icons">{{category.icon_name}}</i>
                                <div class="bmd-list-group-col">
                                    <p class="list-group-item-heading">{{ category.category_name}}</p>
                                </div>
                                <span id="amount" class="label label-default label-pill pull-xs-right"><b>${{amount}}</b></span>
                            </a>
                        {{/each}}
                        
                    </div>
                    {{else}}
                    <div class="card-body">
                        <p id="msg"> You haven't added any Expenses..Please start adding now! </p>                        
                    </div>
                    {{/if}}
                        
                    <div>
                        <form action="/expenses/showAllExpenses">
                        <button id="primary-button3"  type="submit" class="btn btn-primary">View All</button>
                        </form>                        
                    </div>

            </div> --}}

        

             <div class="card">
                    <div id="my-title-container4" class="card-header">
                            <h5 class="my-card-header-title">YOUR ACCOUNTS</h5>
                    </div>
                    {{#if accounts}}
                    <div class="card-body">
                        {{#each accounts}}
                            <a href="/bankac/showAllAccounts" id="account-item" class="list-group-item"> 
                                <i class="material-icons">account_balance</i>
                                <div class="bmd-list-group-col">
                                    <p class="list-group-item-heading">{{ this.ac_name}}</p>
                                    <p class="list-group-item-text">ending in {{this.ac_ending}}</p>
                                </div>
                                <span id="amount" class="label label-default label-pill pull-xs-right"><b>${{this.ac_bal}}</b></span>
                            </a>
                        {{/each}}
                        
                    </div>
                    {{else}}
                    <div class="card-body">
                        <p id="msg"> You haven't added any Bank Accounts..Please start adding now! </p>                        
                    </div>
                    {{/if}}
                    
                    <div>
                        <form action="/bankac/showAllAccounts">
                        <button id="primary-button4"  type="submit" class="btn btn-primary">View All</button>
                        </form>                        
                    </div>

            </div>



        </div>
         {{!-- <script type = "text/javascript" > 
                function preventBack(){window.history.forward();} 
                 setTimeout("preventBack()", 0); 
                window.onunload=function(){null}; 
         </script> --}}
         
            </div>
        

        
    </body>








</html>