<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/public/css/add_income.css">
       
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.4.js"></script>
    



        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/css/bootstrap-material-design.min.css" integrity="sha384-R80DC0KVBO4GSTw+wZ5x2zn2pu4POSErBkf8/fSFhPXHxvHJydT0CSgAP2Yo2r4I" crossorigin="anonymous">

        <!--
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
        -->

         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script> 
        
        <title>Add New Income</title>
    </head>

    <body>
        
        <div class="add-income-form">
                <div class="card">
                       

                        <div id="my-title-container" class="card-header">
                          <h5 class="my-card-header-title">ADD YOUR INCOME DETAILS</h5>
                        </div>
                                
                                
                        <div class="card-body">
                            <!--
                          <h4 class="card-title">Special title treatment</h4>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            -->
                        {{!-- {{#if errors}}
                                {{#each errors}}
                                        <div class = "alert alert-danger">
                                        <strong>{{msg}}</strong>
                                        </div>
                                {{/each}}
                          {{/if}} --}}
                             

                          <form action="/income/saveNewIncome"  id="needs-validation" method="POST" novalidate> 
                                <!-- <div class="form-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="text" class="form-control" id="expense-amount" placeholder="Enter Amount">
                                </div> -->

                                   {{!-- {{#if error}}
                                        <div class="alert alert-danger">
                                                <b>{{error}}</b> 
                                        </div>
                                {{/if}} --}}

                                {{#if errors}}
                                        
                                           <div class = "alert alert-danger">
                                               <strong>{{errors}}</strong>
                                           </div>
                                        
                                {{/if}}
                                <div id="field-container" class="input-group">
                                        <span class="input-group-addon"><i id = "field-icon" class="material-icons">monetization_on</i></span>
                                        <input type="text" name="amount" class="form-control" placeholder="Enter amount"/>
                                        {{!-- <div class="invalid-feedback">
                                                Please provide a valid amount
                                        </div> --}}
                                </div>

                                <div id="field-container" class="input-group">
                                        <span class="input-group-addon"><i class="material-icons">description</i></span>
                                       <input type="text" name="description" class="form-control" placeholder="Description"/>
                                       {{!-- <div class="invalid-feedback">
                                                Please provide a valid Description
                                        </div> --}}
                                </div>

                                 {{!-- <div id="field-container" class="input-group">
                                        <span class="input-group-addon"><i class="material-icons">description</i></span>
                                       <input type="hidden" value = "chase" name="Selected_bank" class="form-control" placeholder="Description"/>
                                </div> --}}


                                <div id="field-container" class="input-group">
                                        <span class="input-group-addon"><i class="material-icons">account_balance</i></span>
                                    
                                        <input id="selected_bank_account" name = "selected_bank_account" type="text" class="form-control" hidden="true">

                                        {{!-- <div class="btn-group">
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  Choose Your bank account
                                                </button>
                                                <div class="dropdown-menu">
                                                  <a class="dropdown-item" href="#">Chase</a>
                                                  <a class="dropdown-item" href="#">Cash</a>
                                                  <a class="dropdown-item" href="#">Forex card</a>
                                                  <div class="dropdown-divider"></div>
                                                  <a class="dropdown-item" href="#">Add New Account</a>
                                                </div>
                                        </div> --}}
        
                                         <div class="btn-group">
                                                <button id="btn-bank-account" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  Choose Your bank account
                                                </button>
                                                <div id="bank-dropdown" class="dropdown-menu">
                                                        {{#each bank_accounts}}
                                                                <button type="button" value={{ac_number}} class="dropdown-item">{{ac_name}} <br>Ending in {{ac_ending}}</br> </button>
                                                        {{/each}}
                                                </div>
                                                
                                        </div>
                                    
                                      
                                </div>

       
                           

                                 <div class="date">
                                        <label id = "label"for="dt" <i class="material-icons">date_range</i></label>
	                                <input name="dt" type="date" class="form-control"/>
                                

                                </div>
                                  
                        
                                {{!-- {{#if errors}}
                                <div class = "alert alert-danger">
                                <strong>{{msg}}</strong>
                                </div>
                                {{/if}} --}}
                                
                                <button id="primary-button"  type="submit" class="btn btn-primary btn-lg btn-raised">Save</button>
                                
                            </form>
<div>
    
</div>




                          

                        </div> <!-- End of card body-->
                        

                       
                </div><!--End of card-->
        </div><!--End of Add Expense Form-->


        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                        <div class="modal-content">
                                <div class="card">
                                        <div id="my-title-container" class="card-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h5 class="my-card-header-title">Add New Category</h5>
                                        </div>
                                                
                                        
                                        <div class="card-body">
                                                <form action = "/addExpense" method = "post">
                                                <div id="field-container" class="input-group">
                                                                <span class="input-group-addon"><i class="material-icons">loyalty</i></span>
                                                                <input type="text" name="amount" class="form-control" placeholder="Enter Your Category"/>
                                                        </div>

                                                        <button id="primary-button"  type="submit" class="btn btn-primary btn-lg btn-raised">Save</button>  
                                                </form>
                                        </div>
                                </div>
                        </div>
                        

                </div>
        </div> <!--End of Modal-->
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/js/bootstrap-material-design.js" integrity="sha384-3xciOSDAlaXneEmyOo0ME/2grfpqzhhTcM4cE32Ce9+8DW/04AGoTACzQpphYGYe" crossorigin="anonymous"></script>
         <script src="/public/js/add_category.js"></script>
        <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
        

        <script>
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function() {
                "use strict";
                window.addEventListener("load", function() {
                var form = document.getElementById("needs-validation");
                form.addEventListener("submit", function(event) {
                if (form.checkValidity() == false) {
                        event.preventDefault();
                        event.stopPropagation();
                }
                form.classList.add("was-validated");
                }, false);
                }, false);
                }());
        </script>
       
    </body>

</html>