<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/public/css/all_expenses.css">

        <title>All Expenses</title>

    </head>
    
    <body>
        
      
        <div>
            <a href="/expenses/addExpense">Click Here To Add Expense</a>
            <a>or</a>
            <a href="/income/addIncome">Click Here To Add Income</a>
            <a>or</a>
            <a href="/income/showAllIncome">Click Here To View Income</a>
            <a>or</a>
            <a href="/bankac/addBankAC">Click Here To Add Accounts</a>
            <a>or</a>
            <a href="/income/dashboard">Click Here To Add Accounts</a>
        </div>
        
        <div id="expenses-card" class="card">

                        <div id="my-title-container" class="card-header">
                          <h5 class="my-card-header-title">ALL EXPENSES</h5>
                        </div>

                        <div class="card-body">
                            <div>
                                {{#each expenses}}
                                    <a href="/expenses/viewExpense/{{ _id }}" id="expense-item" class="list-group-item"> 
                                        <i class="material-icons">{{category.icon_name}}</i>
                                        <div class="bmd-list-group-col">
                                            <p id="expense-desc" class="list-group-item-heading">{{desc}}</p>
                                            <p class="list-group-item-text">{{ category.category_name}}  |  {{ bank_account.ac_name }}</p>
                                        </div>
                                        <span id="amount" class="label label-default label-pill pull-xs-right"><b>${{amount}}</b></span>
                                    </a>
                                {{/each}}

                            
                            </div>




                        </div>


        </div>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                        <div class="modal-content">
                                <div class="card">
                                        <div id="my-title-container" class="card-header">
                                                
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="my-card-header-title">$ 45</h4>
                                        </div>
                                                
                                        
                                        <div class="card-body">

                                                <span>
                                                    <button id="edit" type="button" class="btn btn-danger bmd-btn-icon">
                                                        <i class="material-icons">delete</i>
                                                    </button>

                                                    <button id="edit" type="button" class="btn bmd-btn-icon">
                                                        <i class="material-icons">mode_edit</i>
                                                    </button>
                                                </span>
                                                

                                                <table>
                                                     <tr>
                                                        <td><i class="material-icons">description</i></td>
                                                        <td>Comcast bill for the month of december</td>
                                                    </tr>

                                                    <tr>
                                                        <td><i class="material-icons">loyalty</i></td>
                                                        <td>Wifi bill</td>
                                                    </tr>

                                                    <tr>
                                                        <td><i class="material-icons">account_balance_wallet</i></td>
                                                        <td>Chase</td>
                                                    </tr>

                                                    <tr>
                                                        <td><i class="material-icons">today</i></td>
                                                        <td>24 NOV, 2017</td>
                                                    </tr>

                                                </table>
                                                
                                                {{!-- <span><i class="material-icons">{{category.icon_name}}</i></span> --}}
                                        </div>
                                </div>
                        </div>
                        

                </div>
        </div> 

        {{!-- <script src="/public/js/view_expense_ajax.js"></script> --}}
        
        <!--End of Modal-->
        {{!-- <div>
        <div>
            <a href="/expenses/addExpense">Click Here To Add Expense</a>
            <a>or</a>
            <a href="/expenses/addIncome">Click Here To Add Income</a>
        </div>
        <div>
            
            <ul>
                <a class="list-group-item">
                    <i class="material-icons">directions_bus</i>
                    <div class="bmd-list-group-col">
                    <p class="list-group-item-heading">87 Bus ticket</p>
                    <p class="list-group-item-text">Travel</p>
                    </div>
                    <span class="label label-default label-pill pull-xs-right">$1.6</span>
                </a>

                <a class="list-group-item">
                    <i class="material-icons">restaurant</i>
                    <div class="bmd-list-group-col">
                    <p class="list-group-item-heading">Chicken Tikka Roll</p>
                    <p class="list-group-item-text">Food</p>
                    </div>
                    <span class="label label-default label-pill pull-xs-right">$7</span>
                </a>

            </ul>

        </div> --}}
        
    </body>
    
</html>
