<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/public/css/all_expenses.css">

        <title>All Expenses</title>

    </head>
    
    <body>
        
        
        <div id="expenses-card" class="card">

                        <div id="my-title-container" class="card-header">
                          <h5 class="my-card-header-title">{{title}}</h5>
                        </div>

                        <div class="card-body">

                            {{#if expenses}}
                                <div>
                                    {{#each expenses}}
                                        <a href="/expenses/viewExpense/{{ _id }}" id="expense-item" class="list-group-item noSelect"> 
                                            <i class="material-icons">{{category.icon_name}}</i>
                                            <div class="bmd-list-group-col">
                                                <p id="expense-desc" class="list-group-item-heading">{{desc}}</p>
                                                <p class="list-group-item-text">{{ category.category_name}}  |  {{ bank_account.ac_name }}</p>
                                            </div>
                                            <span id="amount" class="label label-default label-pill pull-xs-right"><b>$ {{amount}}</b></span>
                                        </a>
                                    {{/each}}

                                
                                </div>
                            {{else}}
                                <div class="card-body">
                                    <p id="msg"> You haven't added any Expenses..Please start adding now! </p>    
                                    <a href="/expenses/addExpense">  <button id="add_expense" class="btn btn-primary btn-raised" >ADD EXPENSE</button></a>                     
                                </div>
                            {{/if}}

                        </div>


        </div>

                
    </body>
    
</html>
