<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/public/css/all_income.css">

        <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css" media="all">

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>

        <title>All Income</title>

    </head>
    
    <body>
        
        
        <div id="expenses-card" class="card">

                        <div id="my-title-container" class="card-header">
                          <h5 class="my-card-header-title">ALL INCOME</h5>
                        </div>

                        <div class="card-body">
                             {{#if errors}}
                                        
                                           <div class = "alert alert-danger">
                                               <strong>{{errors}}</strong>
                                           </div>
                                        
                                {{/if}}

                            {{#if income}}
                            <div>
                                {{#each income}}
                                
                                    <a href="/income/viewIncome/{{ _id }}"  class="list-group-item"> 
                                    <form  action="/income/delete/{{ _id }}">
                                    <button name="income_id"class="delete_income_button"> <i class="material-icons">delete </i></button> 
                                    </form>
                                        <div class="bmd-list-group-col">
                                            
                                            <p id="expense-desc" class="list-group-item-heading">{{desc}}</p>
                                            <p class="list-group-item-text"> {{ bank_account.ac_name }} | {{date}}</p>
                                            <p id="bankaccno" hidden>{{bank_account.ac_number}}</p>
                                        </div>
                                        <span id="amount" class="label label-default label-pill pull-xs-right"><b>${{amount}}</b></span>
                                        
                                    </a>
                                {{/each}}

                            
                            </div>
                            {{else}}
                                <div class="card-body">
                                    <p id="msg"> You haven't added any Income..Please start adding now! </p>    
                                    <a href="/income/addIncome"> <button id="add_income" class="btn btn-primary btn-raised" > ADD INCOME</button></a>
                                </div>
                            {{/if}}




                        </div>


        </div>

        
    </body>
    
</html>
